header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: rgb(20, 20, 20);
  padding: 15px;
  align-items: center;
  height: 50px;
}

.header-right {
  display: flex;
  flex-direction: row;
  max-width: 450px;
  min-width: 350px;
  justify-content: space-between;
}

.header-right-simple {
  width: 250px;
  max-width: 25%;
  justify-content: right;
}

#userEmail {
  display: none;
}

@media (min-width: 768px) {
  #userEmail {
    display: block;
    font-style: italic;
    margin-right: 30px;
  }
  .header-right-simple {
    max-width: 25%;
    justify-content: right;
  }
}

@media (max-width: 768px) {
  header {
    margin-left: 50px;
  }
}
