<div class="login-form">
  <h4>Log In</h4>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Enter your email address" formControlName="email" />
      @if (email?.invalid && (email?.dirty || email?.touched)) {
        <div class="error-message text-danger">
          @if (email?.errors?.['required']) {
            <small>Email is required.</small>
          }
          @if (email?.errors?.['email']) {
            <small>Invalid email format.</small>
          }
        </div>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
      <button
        matIconButton
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
        type="button"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (password?.invalid && (password?.dirty || password?.touched)) {
        <div class="error-message text-danger">
          @if (password?.errors?.['required']) {
            <small>Password is required.</small>
          }
          @if (password?.errors?.['minlength']) {
            <small>Password need to be at least 4 characters.</small>
          }
        </div>
      }
    </mat-form-field>
    <div class="bottom d-flex flex-rows">
      <a matButton="outlined" routerLink="/signup">Register</a>
      <button matButton="filled" id="okButton" type="submit">Ok</button>
    </div>
    @if (isLoading()) {
      <mat-spinner diameter="75"></mat-spinner>
    }
  </form>
</div>
