<div class="dialog-window">
  <div class="dialog-header">
    <h2>New budget</h2>
  </div>
  <br />
  <div class="dialog-content">
    <div class="form-field full-width d-flex flex-column">
      <label for="amount">Limit</label>
      <input
        id="amount"
        type="number"
        minlength="1"
        maxlength="8"
        min="1"
        [(ngModel)]="limit"
        placeholder="e.g. 10 000"
      />
    </div>
    <br />
    <div class="form-field full-width d-flex flex-column">
      <label for="category">Category</label>
      <select id="category" [(ngModel)]="selectedCategory">
        @for (category of categories; track category.id) {
          <option [ngValue]="category">
            {{ category.name }}
          </option>
        }
      </select>
    </div>
  </div>
  <div class="dialog-footer d-flex">
    <button class="btn btn-warning" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="create()">Ok</button>
  </div>
</div>
