.budgetsPage {
  height: 90%;
  background-color: rgb(25, 25, 25);
  padding: 25px;
}

#budgetsTop {
  justify-content: space-between;
}

#budgetsTopRight {
  justify-content: space-between;
}

#budgetCards {
  justify-content: left;
  flex-wrap: wrap;
  gap: 40px;
}

#newButton {
  height: 40px;
  width: 120px;
}

.my-dark-backdrop {
  background: rgba(0, 0, 0, 0.6);
}
