#budgetsTop {
  justify-content: space-between;
}

#budgetsTopRight {
  justify-content: space-between;
}

#budgetCards {
  justify-content: left;
  flex-wrap: wrap;
  gap: 40px;
}

#newButton {
  height: 40px;
  width: 160px;
}
