<div class="content-page">
  <div class="d-flex flex-columns" id="budgetsTop">
    <div class="d-flex flex-columns" id="budgetsTopLeft">
      <h5>Your budgets for the current month.</h5>
    </div>

    <div class="d-flex flex-columns" id="budgetsTopRight">
      <p>
        <button matButton="filled" id="newButton" (click)="openCreateDialog()">
          <mat-icon>add</mat-icon>New budget
        </button>
      </p>
    </div>
  </div>

  @if (budgets.length > 0) {
    <div class="d-flex flex-columns" id="budgetCards">
      @for (item of budgets; track item.id) {
        <app-budget-card
          [budgetItem]="item"
          [categoryName]="categories.find((x) => x.id === item.categoryId)?.name"
          (onDelete)="handleDeleteBudget($event)"
        ></app-budget-card>
      }
    </div>
  }
</div>
