<div class="content-page">
  <mat-divider></mat-divider>
  <div class="systemCategoriesContainer">
    <h5>System categories</h5>
    <div id="systemCategories">
      @if (systemCategories.length > 0) {
        @for (item of systemCategories; track item.id) {
          <app-category-card
            [categoryItem]="item"
            [isSystemCategory]="true"
            (onDelete)="handleDeleteCategory($event)"
          ></app-category-card>
        }
      }
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="userCategoriesContainer">
    <h5>Your categories</h5>
    <div id="userCategories">
      @if (userCategories.length > 0) {
        @for (item of userCategories; track item.id) {
          <app-category-card
            [categoryItem]="item"
            [isSystemCategory]="false"
            (onDelete)="handleDeleteCategory($event)"
          ></app-category-card>
        }
      }

      <div class="newbuttonDiv">
        <button matButton="filled" id="newButton" (click)="openCreateDialog()">
          <mat-icon>add</mat-icon>New category
        </button>
      </div>
    </div>
  </div>
</div>
