<div class="categoriesPage">
  <div class="systemCategories">
    <h5>System categories</h5>
    <div class="d-flex flex-columns" id="systemCategories">
      @if (systemCategories.length > 0) {
        @for (item of systemCategories; track item.id) {
          <app-category-card
            [categoryItem]="item"
            [isSystemCategory]="true"
            (onDelete)="handleDeleteCategory($event)"
          ></app-category-card>
        }
      } @else {
        <p>No data available.</p>
      }
    </div>
  </div>
  <br />
  <div class="userCategories">
    <h5>Your categories</h5>
    <div class="d-flex flex-columns" id="userCategories">
      @if (userCategories.length > 0) {
        @for (item of userCategories; track item.id) {
          <app-category-card
            [categoryItem]="item"
            [isSystemCategory]="false"
            (onDelete)="handleDeleteCategory($event)"
          ></app-category-card>
        }
      } @else {
        <p>No data available.</p>
      }

      <div class="newbuttonDiv">
        <button class="btn btn-primary" id="newButton" (click)="openCreateDialog()">
          New category
        </button>
      </div>
    </div>
  </div>
</div>
