#systemCategories,
#userCategories {
  width: 100%;
  justify-content: left;
  gap: 20px;
  flex-wrap: wrap;
}

#newButton {
  height: 40px;
  width: 130px;
}

.newbuttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
