.userCategories,
.systemCategories {
  margin: 20px 10px 20px 0px;
}

#systemCategories,
#userCategories {
  width: 100%;
  justify-content: left;
  gap: 20px;
  flex-wrap: wrap;
}

#newButton {
  height: 40px;
  width: 160px;
}

.newbuttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
