.dialog-window {
  background-color: rgb(31, 30, 30);
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(70, 70, 70);
  border-width: 2px;
  min-height: 350px;
  padding: 20px;
  align-items: center;
}

.dialog-header {
  margin: auto;
  width: 50%;
}

.dialog-content {
  width: 50%;
  margin: auto;
}

.dialog-footer {
  margin-top: 20px;
  justify-content: space-between;
}
