<div class="dialog-window">
  <div class="dialog-header">
    <h2>New expense</h2>
  </div>
  <br />
  <div class="dialog-content">
    <form [formGroup]="createExpenseForm" (ngSubmit)="create()" class="d-flex flex-column">
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input
          matInput
          id="amount"
          type="number"
          placeholder="Amount of expense"
          formControlName="amount"
          min="0"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input
          matInput
          id="input"
          type="text"
          placeholder="Description"
          formControlName="description"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryName" placeholder="Choose a category">
          @for (category of categories; track category.id) {
            <mat-option [value]="category.name">{{ category.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="date" [max]="this.date" />
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <div class="dialog-footer d-flex flex-row">
        <button matButton="outlined" type="button" (click)="cancel()">Cancel</button>
        <button matButton="filled">Ok</button>
      </div>
    </form>
  </div>
</div>
