.categoryCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 120px;
  background-color: #2b2a2a;
  border-radius: 15px;
  padding: 20px;
  font-size: 22px;
}
