@if (categoryItem(); as category) {
  <div class="categoryCard">
    <div class="card-left">
      <span class="category-dot" [style.background-color]="category.color"></span>
      <span [title]="category.name" class="category-name">{{ category.name }}</span>
    </div>
    <div class="card-right">
      @if (!isSystemCategory()) {
        <button
          mat-mini-fab
          color="warn"
          id="deleteButton"
          (click)="deleteCategory(category.id)"
          [disabled]="category.hasExpense"
        >
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
  </div>
}
