.expensesPage {
  height: 90%;
  max-width: 2000px;
  margin: auto;
  background-color: rgb(25, 25, 25);
  padding: 25px;
}

#expenses {
  width: 100%;
  max-height: 650px;
  overflow-y: auto;
  justify-content: space-between;
}

#table {
  width: 60%;
  margin: auto;
}

form {
  justify-content: space-between;
}

thead,
tbody {
  margin: 20px;
}

th,
td {
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}

#expenses table th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.searchButton {
  justify-content: end;
  align-items: center;
}

.sideButtons {
  position: sticky;
  top: 0;
  z-index: 2;
}

.expensesTable {
  font-size: 22px;
}

.expensesTable th.mat-mdc-header-cell {
  font-size: 18px;
  font-weight: bold;
}

.expensesTable td.mat-mdc-cell {
  font-size: 18px;
}

/* SOROK HÁTTÉRSZÍNE ÉS HOVER EFFEKT */
.expensesTable tr.mat-mdc-row {
  transition: background-color 0.2s ease;
}

/* Egeres rámutatás effektus a sorokon */
.expensesTable tr.mat-mdc-row:hover {
  background-color: #363636;
}

#table {
  border: 1px solid #d1d5db;
  border-radius: 8px;
}
