<div class="content-page">
  <div id="expenseFilters">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-row">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input
          matInput
          id="description"
          type="text"
          placeholder="Description"
          formControlName="description"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date from</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="minDate" />
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date to</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="maxDate" />
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label for="minAmount">Min. Amount</mat-label>
        <input
          matInput
          id="minAmount"
          type="number"
          formControlName="minAmount"
          placeholder="Min. amount"
          min="0"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label for="maxAmount">Max. amount</mat-label>
        <input
          matInput
          id="maxAmount"
          type="number"
          formControlName="maxAmount"
          placeholder="Max. amount"
          min="0"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="categoryName">Category</mat-label>
        <mat-select formControlName="categoryName" placeholder="Choose a category">
          @for (item of categories; track item.id) {
            <mat-option [value]="item.name">{{ item.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div class="searchButton d-flex">
        <button matButton="outlined"><mat-icon>search</mat-icon>Search</button>
      </div>
    </form>
  </div>
  <br />

  <div class="d-flex" id="expenses">
    <div class="sideButtons">
      <button matButton="filled" id="newButton" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>New expense
      </button>
      <br />
      <br />
      <!-- <button matButton="outlined" type="button" (click)="onExport()">
        <mat-icon>file_download</mat-icon>Export
      </button> -->
    </div>

    <div id="table">
      <table mat-table [dataSource]="expensesDataSource" class="mat-shadow-2 expensesTable">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            @if (isLoading()) {
              <ngx-skeleton-loader
                [theme]="{ height: '16px', width: '30px', margin: '0' }"
              ></ngx-skeleton-loader>
            } @else {
              {{ element.date | date: 'yyyy.MM.dd' }}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">
            @if (isLoading()) {
              <ngx-skeleton-loader
                [theme]="{ height: '16px', width: '30px', margin: '0' }"
              ></ngx-skeleton-loader>
            } @else {
              {{ element.description }}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="categoryName">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element">
            @if (isLoading()) {
              <ngx-skeleton-loader
                [theme]="{ height: '16px', width: '30px', margin: '0' }"
              ></ngx-skeleton-loader>
            } @else {
              {{ element.categoryName }}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">
            @if (isLoading()) {
              <ngx-skeleton-loader
                [theme]="{ height: '16px', width: '30px', margin: '0' }"
              ></ngx-skeleton-loader>
            } @else {
              {{ element.amount | currency: 'Ft' : 'code' : '1.0-0' }}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab="outlined" type="button" (click)="handleDeleteExpense(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        pageSize="10"
        showFirstLastButtons
        aria-label="Choose page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
