form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tableContainer {
  min-width: 650px;
  margin: auto;
}

thead,
tbody {
  margin: 20px;
  background-color: rgb(45, 45, 45);
}

th,
td {
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  background-color: rgb(45, 45, 45);
}

#expenses {
  display: flex;
  width: 70%;
  min-width: 850px;
  max-height: 650px;
  overflow-y: auto;
  justify-content: space-between;
}

#expenses table th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.searchButton {
  display: flex;
  justify-content: end;
  align-items: center;
}

#sideButtons {
  width: 30%;
  position: sticky;
  top: 0;
  z-index: 2;
}

.expensesTable {
  font-size: 22px;
}

.expensesTable th.mat-mdc-header-cell {
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(35, 35, 35);
}

.expensesTable td.mat-mdc-cell {
  font-size: 18px;
}

.expensesTable tr.mat-mdc-row {
  transition: background-color 0.2s ease;
}

.expensesTable tr.mat-mdc-row:hover {
  background-color: rgb(70, 70, 70);
}
