#expensesPage {
  height: 100vh;
}

#expenses {
  width: 60%;
  margin: 0 auto;
  max-height: 650px;
  overflow-y: auto;
}

table {
  background-color: rgb(41, 41, 41);
  border-radius: 15px;
  border-spacing: 30px;
}

form {
  color: white;
  justify-content: space-between;
}

thead,
tbody {
  margin: 20px;
}

th,
td {
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}

#expenses table th {
  position: sticky;
  top: 0;
  z-index: 2;
}
