.dialog-header {
  width: 40%;
  margin: auto;
}

.dialog-content {
  width: 40%;
  margin: auto;
  gap: 16px;
}

.dialog-footer {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.color-picker {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  margin-bottom: 16px;
}

.color-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
}

.color-btn:hover {
  transform: scale(1.1);
}

.color-btn.selected {
  border-color: #4d8fc9;
  box-shadow: 0 0 8px rgba(77, 143, 201, 0.5);
}

form {
  display: flex;
  flex-direction: column;
}
