.dialog-header {
  width: 65%;
  margin: auto;
}

.dialog-content {
  width: 65%;
  margin: auto;
  padding: 10px;
}

.dialog-footer {
  display: flex;
  width: 65%;
  margin: auto;
  margin-top: 40px;
  justify-content: space-between;
}
