#large-cards {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  min-width: 330px;
  justify-content: space-between;
}

#budget-status-card {
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  background-color: #2b2a2a;
}

.yearlyChart-container {
  width: 75%;
  max-height: 450px;
  margin: auto;
}
