#budget-card {
  width: 330px;
  height: 165px;
  margin: 10px 10px 10px 10px;
  justify-content: space-between;
  background-color: #2b2a2a;
  border-radius: 15px;
  padding: 15px;
}

.cardInfo {
  width: 75%;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: rgb(100, 100, 100);
  border-width: 2px;
}

.removeButton {
  justify-content: center;
  align-items: center;
}
