#large-cards {
  justify-content: space-between;
  flex-wrap: wrap;
}

#budget-status-card {
  width: 48%;
  min-width: 330px;
  padding: 20px;
  border-radius: 15px;
  background-color: #2b2a2a;
}

#category-card {
  width: 48%;
  min-width: 330px;
  padding: 20px;
  background-color: #2b2a2a;
  border-radius: 15px;
}

#category-top {
  margin-top: 20px;
  justify-content: space-between;
}

.budgetChart-container {
  width: 75%;
  min-height: 250px;
  margin: auto;
}

.categoryChart-container {
  width: 50%;
  height: 50%;
}

table {
  width: 100%;
  font-size: 18px;
}

.categoryList {
  font-size: 18px;
}
