html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(31, 30, 30);
  color: white;
}

app-root {
  display: block;
  height: auto;
}

.category-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
}

.my-dark-backdrop {
  background: rgba(0, 0, 0, 0.6);
}
